<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
   <header class="head-bar">
      <h1 class="title">Lyftbook</h1>
   </header>
   <ul>
       <% looks.forEach(function(look) { %>
           <li class="entry">
               <div>
                  <%= look.date.month %>
                  <%= look.date.day %>
                  <%= look.date.year %>

               </div>

               <h2 class="entry-title"><%= look.title %></h2>
               <p class="entry-info"><%= look.info %></p>

               <img src="<%= look.image %>" class="entry-image">

               <div class="people">
               <% look.people.forEach(function(person) { %>
                  <span class="person"><%= person %></span>
               <% }); %>
               </div>
           </li>
       <% }); %>
   </ul>
</body>
</html>